body {
    text-align: center;
    font-family: Arial;
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}